# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json

# custom
.Rproj.user
.DS_Store
_posts/post_data/*
_posts/**/*.jpg
_posts/**/*.png
_posts/*.html
*.Rmd
*.qmd
*.bib
_talks/_2013-03-01-tutorial-1.md
didierbrassard.github.io.Rproj
_posts/_mermaid.txt
