div.language-r.highlighter-rouge,
div.language-r.highlighter-rouge::before,
div.language-r.highlighter-rouge::after,
figure.highlight {
  box-shadow: none !important;
}

div.language-r.highlighter-rouge .highlight {
  margin: 0;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.8;
}
