div.highlighter-rouge, figure.highlight, div.highlight, pre.highlight {
  box-shadow: none !important;
}

pre.highlight span {
  box-shadow: none !important;
  background: none !important; /* Ensures no background issues */
}
